<header>
<link href="/css/style.css" rel="stylesheet"/>
</header>
<h1 class='header'>{{title}}</h1>
<div class="nav-bar">
    <a href="/">Home</a>
    <a href='/about'>About</a>
    <a href='/help'>Help</a>
</div>