<html>

<head>
    <title>{{title}}</title>
</head>

<body>
    {{>header}}
    <p class="sub-heading">{{subHeading}}</p>
    <form>
        <input placeholder="Location" />
        <button>Search</button>
    </form>
    <p id='message-one'></p>
    <p id='error'></p>
    <script src='/js/app.js'></script>
</body>
</html>